h1{
  color: red;
}
h2{
  color: blue;
}
h3{
  color: blueviolet;
}
userInput{
  display: flex;
  flex-direction: column;
}
select{
  width: 100px;
}
.adoptsize{
  
}
body{
  background-color: antiquewhite;
}
.unit{
  color: lightcoral;
  font-style: italic;
  font-weight: bold;
}