body{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
  align-items: center;
}
h1{
  color: blueviolet;
  
}
h2{
  color: brown;
}
label{
  font-weight: bold;
 
}
select{
  width: 100px;
  padding: 5px;
}
select:hover{
  background-color: rgb(3, 70, 70);
  color: white;
}
#result {
  
  text-align: justify;
  
  
  width: 300px;
  
  
}
#table-image{
background-color: black;
border: 5px solid #aa0000;
border-radius: 8px;
width: 450px;



}
input{
  padding: 5px;
}
 

#result p{
  color:#F0F0F0;
  border: 5px solid #aa0000;
  background-color: cornflowerblue;
  width: auto;
  font-weight: bold;
  font-style: italic;
  padding:10px;
  border-radius: 8px;
  
  
}
button{
  padding: 5px 10px;
  font-weight: bold;
}
button:hover{
  background-color:  rgb(3, 70, 70);
  color:white;
  font-weight: bold;

}
#input{
  margin-top: 20px;
}
#inout p{
  font-weight: bold;
}
